<footer class="navbar-fixed-bottom">
    <div class="container">
        <div class="text" align="right  ">
            <p><a style="color: transparent">spread love ^-^
            </a>                 Romanov Paul        2018-2019©
                <a href="http://www.flagofplanetearth.com/" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/International_Flag_of_Planet_Earth.svg/350px-International_Flag_of_Planet_Earth.svg.png" height="23" width="35"></p>
                </a>
        </div>
    </div>
</footer>