<!DOCTYPE html>
<html lang="en">
<head>
    <style>

    </style>
    <meta charset="UTF-8">
    <title>Airport info</title>
</head>
<body>
    {% extends 'base.html' %}
    {% csrf_token %}
    {% block title %}Terminal Menu{% endblock title %}
    {% block content%}
    <p1>Аэропорт — комплекс сооружений, предназначенный для приёма, отправки, базирования воздушных судов и обслуживания воздушных перевозок, имеющий для этих целей аэродром, аэровокзал (в крупных аэропортах нередко несколько аэровокзалов), один или несколько грузовых терминалов и другие наземные сооружения, и необходимое оборудование. </p1>
    {% endblock content%}
</body>
</html>