{% extends 'base.html' %}
{% block title %}Plane{% endblock title %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="container" >
            <form method="GET" action="">
                <input type="text" name="q" placeholder="Search posts"/>
                <input type="submit" value="Search" />
            </form>
            <br>
            <table class="table tab-pane">
                    <tr>
                        <th>Plane Model</th>
                        <th>Type</th>
                        <th>Seats</th>
                        <th>Length</th>
                        <th>Weight</th>
                        <th>Wingspan</th>
                    </tr>
                {% for plane in planes %}
                    <tr>
                        <td>{{ plane.model }}</td>
                        <td>{{ plane.type }}</td>
                        <td>{{ plane.num_of_seats }}</td>
                        <td>{{ plane.length }}</td>
                        <td>{{ plane.weight }}</td>
                        <td>{{ plane.wingspan }}</td>
                        <td>
                            <a href="/planes/{{ plane.model }}"><input  type="submit" class="btn btn-dark" value="Edit" name="edit"></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        <a href="/planes/add"><input  type="submit" class="btn btn-dark" value="Add" name="add"></a>
        </div>
    </div>
{% endblock content %}