{% extends 'base.html' %}
{% block title %}Terminal{% endblock title %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="container" >
            <form method="GET" action="">
                <input type="text" name="q" placeholder="Search posts"/>
                <input type="submit" value="Search" />
            </form>
            <br>
            <table class="table tab-pane">
                    <tr>
                        <th>Terminal ID</th>
                        <th>Passenger Traffic</th>
                        <th>Type</th>
                        <th>Call sign</th>
                    </tr>
                {% for terminal in terminals %}
                    <tr>
                        <td>{{ terminal.id }}</td>
                        <td>{{ terminal.passenger_flow }}</td>
                        <td>{{ terminal.type }}</td>
                        <td>{{ terminal.callsign }}</td>
                        <td>
                            <a href="/terminal/{{ terminal.id }}"><input  type="submit" class="btn btn-dark" value="Edit" name="edit"></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        <a href="/terminal/add"><input  type="submit" class="btn btn-dark" value="Add" name="add"></a>
        </div>
    </div>
{% endblock content %}